<!DOCTYPE html>
<html>
    <head>
        <title>Sawudi's Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 16.01.2024, 09:16</time>
            <h2><a href="">My first post</a></h2>
            <p>If I had to learn to code all over again, I'd always choose to practise alongside and that will keep me abreast with the syntax and making me ask more intelligent question and hence making problem solving a bit more easier.</p>
        </article>

        <article>
            <time>published: 16.01.2024, 09:16</time>
            <h2><a href="">My second post</a></h2>
            <p>How good it feels to be a Software Engineer providng solutions to challenges people face.</p>
        </article>
    </body>
</html>